## Project specific
notes/*

## Mac
.DS_Store

## R files
.RData
.RHistory
.Rproj.user

## Latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.blg
*.bbl
*.bdg_latexmk
*.xdv
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.bcf
*.nav
*.run.xml
*.snm
